apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: cloudshop-prod
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8081
    targetPort: 8081
  selector:
    app: auth-service
---
apiVersion: v1
kind: Service
metadata:
  name: products-service
  namespace: cloudshop-prod
  labels:
    app: products-api
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8082
    targetPort: 8082
  selector:
    app: products-api
---
apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: cloudshop-prod
  labels:
    app: orders-api
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8083
    targetPort: 8083
  selector:
    app: orders-api
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: cloudshop-prod
  labels:
    app: api-gateway
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: api-gateway
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: cloudshop-prod
  labels:
    app: frontend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    app: frontend
